# Самостоятельная 1
Социлогия | 1 курс | ППО
Преподаватели: Рогович Т.В., Лебедева В.А, Бирюков В.А.

## Формат проведения

**Списывание и использование телефонов**

Первое предупреждение, сделанное ассистентом или преподавателем: - 1 балл к вашей оценке.

Второе предупреждение: работа аннулируется без права переписывания.


## **Важно**
## Все задачи должны принимать значения на ввод (решение для частного случая будет считаться неполным).

**1. Тест**  
*(2 балла, каждый ответ 0.2 балла)*

1. Как выглядит знак возведения в степень в Python?

In [0]:
**

2. Выведите строки, данные ниже, следующим образом, дополнив код на месте многоточия в следующей ячейке. После 'Форматирование---' и "Это---" должна быть пустая строка. Новые print() создавать нельзя:

Форматирование---

Это---

Просто---

In [1]:
print('Форматирование', 'Это', "Просто", sep='\n') # напишите ответ, изменив эту строчку кода

Форматирование
Это
Просто

3. Укажите правильный способ конкатенации строк.         
а. 'string1' + 'string2'  
b. 'string1' . 'string2'  
c.  'string1'.strip() 'string2'  
d.  'string1' : 'string2'"

In [0]:
+

4. Что из ниже перечисленного является правильным написанием логической переменной “ложь” в Python?  
a. FALSE  
b. False  
c. false

In [0]:
False  # "правда" пишется True

5. Какая из перечисленных операций 
сравнений является верной?      
a. <>  
b. =<  
c. =  
d. !=

In [0]:
!= 
# а. Такого нет  
# b. Равно должно стоять в конце
# c. Одинарное равно означает присваивание, а не сравнение
# d. Правильный ответ

6. Какой тип данных имеет выражение 2.5 * 5?        
a. int  
b. float  
c. dict  
d. string

In [0]:
float
# float * int == float Это легко проверить, сделаем это в следующей строчке

In [3]:
type(2.5)

float

In [4]:
type(5)

int

In [2]:
type(2.5 * 5)

float

7. В чем отличие math.floor от math.ceil()?

In [0]:
floor - это округление вниз, а ceil - округление вверх
# (Легко запомнить: floor - это пол, он снизу, ceil - это потолок, он сверху)

8. К строке применили функцию:   
replace('||', '|'). 

Программа вывела следующую строку: 
'| |'

Какой была исходная строка?

In [ ]:
"|| ||" 
# Как это понять: replace("||", "|") заменяет все "||" в строке на "|". В конечной строке только две палочки.
# Значит, заменяя одну палочку обратно на две получим "|| ||".

# Вообще говоря, эта задача неправильная. Почему? Посмотрим ниже. Все эти строки, к которым мы применили replace,
# дали один и тот же результат, хотя все эти строки разные. То есть. по сути, здесь целых 4 ответа.

In [11]:
"|| ||".replace('||', '|')  # Заменили первые и вторые палочки на одну

'| |'

In [8]:
"|| |".replace('||', '|')  # Заменили первые палочки на одну, вторая и так одна

'| |'

In [9]:
"| ||".replace('||', '|')  # Заменили вторые палочки на одну, первая и так одна

'| |'

In [10]:
"| |".replace('||', '|')  # Не нашли двойных палочек, поэтому ничего не заменили

'| |'

9. Пароль должен состоять ровно из 10 символов и состоять только из букв. Вам даны два пароля, напишите программу, которая проверит их на правильность и выведет True для правильного пароля и False для неправильного.

In [12]:
pass1 = 'qweABCjoHn'
pass2 = 'asdfPassword1' 

print(len(pass1) == 10 and pass1.isalpha())  # Проверка для первого пароля
print(len(pass2) == 10 and pass2.isalpha())  # Проверка для второго пароля

True
False

10. Дана строка с разными почтовыми ящиками. С помощью метода строковых переменных выведите количество почтовых адресов в строке. В этой задаче, все, что содержит знак '@', считается правильным почтовым адресом.

In [13]:
emails =  'abc@gmail.com top_gamer2009@rambler.ru zuckerberg.yahoo.com'

emails.count('@')  # В задаче просто просят посчитать количество собачек в строке

2

**2. Задачи на срезы строк**  
*(1 балл, каждый вопрос 0.25 баллов)*

In [20]:
ex3 = "Please call me at 12:34 on the number 89123456789"

1. Выведите строку, состоящую из первых 4-х символов данной строки

In [21]:
ex3[:4]

'Plea'

2. Выведите строку без последнего символа с использованием индексации с конца строки

In [22]:
ex3[:-1]

'Please call me at 12:34 on the number 8912345678'

3. Выведите строку, идущую в обратном направлении

In [23]:
ex3[::-1]

'98765432198 rebmun eht no 43:21 ta em llac esaelP'

4. Выведите строку, образованную из нечетных индексов данной строки
('Pes alm t1:4o h ubr813579')

In [26]:
ex3[::2]  
# Вообще-то это опять неправильное задание. Нечетные индексы строки это 1, 3, 5 и тд.
# Тут строка выводится с буквы P, а эта буква стоит на нулевом месте (помним, что в питоне все нумеруется с 0).
# Так что правильнее было бы написать ex3[1::2] - типа "начинай выводить с 1 элемента и через один"

'Pes alm t1:4o h ubr813579'


## **Важно**
## Все задачи должны принимать значения на ввод (решение для частного случая будет считаться неполным).

## **3. Задача 1**
*(0.75 балла)*

### Условие

Напишите программу, которая прибавляет 1 к натуральному числу N (длина числа N до 1000 знаков)

### Формат ввода

Дано чиcло N.

### Формат вывода



Выведите число N+1.

### Пример 1

**Ввод:** 1 <br>
**Вывод:** 2

### Пример 2

**Ввод:** 5 <br>
**Вывод:** 6

### Пример 3

**Ввод:** 9 <br>
**Вывод:** 10

In [27]:
i = int(input())
print(i + 1)

3
4

## **4. Задача 2**
*(0.75 балла)*

## 100 раз подряд в квадрате

### Условие
Заданное число N записали 100 раз подряд и затем возвели в квадрат. Что получилось? 

### Формат ввода



Вводится целое неотрицательное число N не превышающее 1000. 

### Формат вывода



Выведите ответ на задачу.

### Пример

**Ввод:** 0 <br>


**Вывод:** 0

In [28]:
n = input()  # Вводим как строку, а не как число!
n = n * 100  # Пишем 100 раз подряд
n = int(n)  # Преобразовали к числу
n = n ** 2  # Возвели в квадрат
print (n)

2
4938271604938271604938271604938271604938271604938271604938271604938271604938271604938271604938271603950617283950617283950617283950617283950617283950617283950617283950617283950617283950617283950617284

## **5. Задача 3**
*(1 балл)*

## Вова и планеты

 ### Условие

Вова хочет стать космонавтом и ему интересно, сколько ему и его друзьям исполнилось лет в системе летоисчесления других планет Солнечной системы. Напишите программу, которая бы рассчитывала возраст человека на Венере, Марсе и Луне. Программе дается на ввод имя, возраст и название планеты (Венера, Марс, Луна), а выводится возраст, рассчитаный для этой планеты, по образцу в примере.

Получившийся возраст может иметь дробную часть. Не округляйте его.

Коэффициент возраста для Юпитера: 0.033  
Коэффициент возраста для Марса: 0.531  
Коэффициент возраста для Венеры: 1.62

### Пример 1

**Ввод:** <br>
Вова <br>
13 <br>
Юпитер <br>

**Вывод:** <br>
На планете Юпитер Вова живет уже 0.429 лет

### Пример 2

**Ввод:** <br>
Андрей <br>
17 <br>
Марс <br>

**Вывод:** <br>
На планете Марс Андрей живет уже 9.027 лет

In [30]:
name = input()  # Вводим как строку
age = int(input())  # Вводим как число
planet = input()  # Вводим как строку

if planet == "Юпитер":
    age = age * 0.033
elif planet == "Марс":
    age = age * 0.531
elif planet == "Венера":
    age = age * 1.62
else:
    print("Вы ввели какую-то сранную планету! Я не знаю ее коэффициента :(")

print("На планете", planet, name, "живет уже", age, "лет")

Маша
15
Венера
На планете Венера Маша живет уже 24.3 лет

## **6. Задача 4**
*(1 балл)*

## Список квадратов

### Условие
По данному целому числу N распечатайте все квадраты натуральных чисел, не превосходящие N, в порядке возрастания.

### Формат ввода



Вводится натуральное число.

### Формат вывода



Выведите ответ на задачу.

### Пример 1

**Ввод:** 50 <br>

**Вывод:** <br>
1 <br>
4 <br>
9 <br>
16 <br>
25 <br>
36 <br>
49

### Пример 2

**Ввод:** 10 <br>

**Вывод:** <br>
1 <br>
4 <br>
9 <br>

### Пример 3

**Ввод:** 9 <br>

**Вывод:** <br>
1 <br>
4 <br>
9 <br>

In [31]:
n = int(input())

i = 1
double_i = i * i  # Квадрат единицы это единиица
while double_i < n:  # Пока квадрат числа меньше n
    print (double_i)  # Печатаем
    i += 1  # Прибавляем 1 к текущему числу
    double_i = i * i  # Считаем новый квадрат

50
1
4
9
16
25
36
49

## **7. Задача 5**
*(2 балла)*

## Ход слона

### Условие



Шахматный слон ходит по диагонали. Даны две различные клетки шахматной доски, определите, может ли слон попасть с первой клетки на вторую одним ходом.

### Формат ввода



Программа получает на вход четыре числа от 1 до 8 каждое, задающие номер столбца и номер строки сначала для первой клетки, потом для второй клетки.

### Формат вывода



Программа должна вывести YES, если из первой клетки ходом слона можно попасть во вторую или NO в противном случае.

### Пример 1

**Ввод:** <br>
4 <br>
4 <br>
5 <br>
5 <br>

**Вывод:** <br>
YES

### Пример 2

**Ввод:** <br>
4 <br>
4 <br>
5 <br>
4 <br>

**Вывод:** <br>
NO

### Пример 3

**Ввод:** <br>
4 <br>
4 <br>
5 <br>
3 <br>

**Вывод:** <br>
YES

In [35]:
# Итак, что значит, что слон ходит по-диагонали:
# Пусть есть поле 5 x 5, и слон стоит в центре, в клетке с координатами: х = 3, y = 33
#   1 2 3 4 5 x
# 1 * * * * *
# 2 * * * * *
# 3 * * c * *
# 4 * * * * *
# 5 * * * * *
# y
# 
# Получается, слон может пойти только в клетки с координатами (4, 2), (4, 4), (2, 4), (2, 2) - то есть, 
# мы либо к обеим текущим координатам прибавляем единицу, либо из обеих вычитаем, либо к одно1 прибавляем, 
# а из другой вычитаем, чтобы получить новые координаты слона. Поэтому в примере 2 выводится NO: слон стоит
# в (4, 4). (5, 4) означает, что к первой координате прибавили 1, а вот вторая не изменилась.

x = int(input())
y = int(input())
new_x = int(input())
new_y = int(input())

if (x - 1 == new_x or x + 1 == new_x) and (y - 1 == new_y or y + 1 == new_y):
    print("YES")
else:
    print("NO")

4
4
5
4
NO

## **8. Задача 6**
*(1.5 балла)*

## Среднее значение последовательности

### Условие





Определите среднее значение всех элементов последовательности, завершающейся числом 0. Использовать массивы в данной задаче нельзя.

### Формат ввода





Вводится последовательность целых чисел, оканчивающаяся числом 0 (само число 0 в последовательность не входит, а служит как признак ее окончания.

### Формат вывода





Выведите ответ на задачу.

### Пример 1

**Ввод:** <br>
1 <br>
7 <br>
9 <br>
0 <br>

**Вывод:** <br>
5.66666666667

### Пример 2

**Ввод:** <br>
1 <br>
1 <br>
1 <br>
1 <br>
1 <br>
1 <br>
1 <br>
1 <br>
1 <br>
0 <br>

**Вывод:** <br>
1.0

### Пример 3

**Ввод:** <br>
34 <br>
2345 <br>
2345 <br>
2345 <br>
2345 <br>
345 <br>
3 <br>
345 <br>
3 <br>
345 <br>
1 <br>
3 <br>
424 <br>
5 <br>
453 <br>
0 <br>

**Вывод:** <br>
756.066666667

In [36]:
# Будем вводить числа, пока нам не встретится 0 (что будет признаком окончания ввода. Также будем суммировать
# приходящие числа и считать их количество (потому что среднее - это сумма деленная на количество))

n = int(input())  # Вводим число. Осторожно! Оно может оказаться нулем
summa = 0  # В сумму еще ничего не записали
number = 0  # Пока мы не проверили, что первое введенное число не ноль, будем считать, что еще ничего не ввели
while n != 0:  # До тех пор, пока мы не ввели 0
    summa += n  # К сумме прибавляем новое число
    number += 1  # К количеству прибавляем 1
    n = int(input())  # Вводим новое число

print(summa/number)

3
5
7
1
0
4.0